<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <article class="mx-24">
    <img width="100%" src="./public/koran.png" alt="" srcset="">
    <h1 class="pt-4 text-2xl font-bold">Baru Mulai Berbisnis? Lakukan 3 Strategi Ini untuk Menarik Minat Konsumen!</h1>
    <p class="py-4 text-xl">Suara.com - Bagi kamu yang baru saja mulai berbisnis di era digital saat ini, produk bagus dan berkualitas saja tidak cukup untuk menarik minat konsumen. Ada banyak hal penting lainnya yang perlu diperhatikan agar produk yang ditawarkan mendapat perharian, dan yang kemudian dibeli oleh konsumen.</p>
    <p class="py-4 text-xl">satu strategi yang harus diingat oleh para pelaku UMKM adalah pentingnya menyediakan metode pembayaran yang mudah dan terpercaya bagi konsumen dalam bertransaksi. Berdasarkan Laporan Statistik E-Commerce 2021 yang dipublikasikan oleh Badan Pusat Statistik (BPS), transfer bank adalah salah satu metode pembayaran yang paling sering digunakan oleh pelaku e-commerce atau bisnis digital.</p>
    <p class="py-4 text-xl">Menurut Hilda Fachrizah, SE., MM., dosen Perilaku Ekonomi dan Riset Terapan di FEB Universitas Indonesia, agar dapat terus berkembang dan memastikan keberlangsungan bisnis, pelaku UMKM membutuhkan berbagai dukungan dari banyak pihak.</p>
    <p class="py-4 text-xl">Dan mengingat pelaku UMKM yang beroperasi di ranah digital cenderung masih mengandalkan transfer bank untuk melakukan transaksi dengan pelanggan mereka, dibutuhkan sarana atau layanan yang mudah, terpercaya, dan dapat mendorong minat pelanggan untuk bertransaksi,yang pada akhirnya akan meningkatkan transaksi pelanggan dan membawa keuntungan bagi pelaku UMKM.</p>
    <p class="py-4 text-xl">Sementara itu, dari sudut pandang praktisi sekaligus pebisnis, Kara Nugroho, Co-Founder & Creative Director PVRA, membagikan tiga strategi utama bagi pelaku UMKM dalam menarik minat konsumen dan mengembangkan bisnis mereka. Ini dia, mengutip siaran pers ShopeePay yang diterima Suara.com.</p>
  </article>

</body>
</html>