<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite App</title>
</head>

<body>
  <nav class="flex items-center justify-between flex-wrap bg-white p-6 mx-10">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <img src="logo-iaid.png" class="lg:h-10 h-8" alt="">
      <h1 class="pl-5 text-3xl text-gray-800 font-bold">KM IAID</h1>
    </div>
  
    <label class="block lg:hidden cursor-pointer flex items-center px-3 py-2 border rounded text-gray-800 border-gray-800 hover:text-gray-800 hover:border-gray-800" for="menu-toggle"><svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg></label>
    <input class="hidden" type="checkbox" id="menu-toggle" />
  
    <div class="hidden w-full block flex-grow lg:flex text-left md:text-right  lg:items-center lg:w-auto" id="menu">
      <div class="text-sm lg:flex-grow">
        <a href="#responsive-header" class="block mt-4 text-xl lg:inline-block lg:mt-0 text-gray-800 hover:text-[#63C132] mr-4 font-semibold">
          Home
        </a>
        <a href="#responsive-header" class="block mt-4 text-xl lg:inline-block lg:mt-0 text-gray-800 hover:text-[#63C132] mr-4 font-semibold">
          Organisasi
        </a>
        <a href="#responsive-header" class="block mt-4 text-xl lg:inline-block lg:mt-0 text-gray-800 hover:text-[#63C132] font-semibold">
          Berita
        </a>
      </div>
    </div>
  </nav>
  





  <script type="module" src="/main.js"></script>
</body>

</html>