<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KM IAID</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="flex items-center justify-between flex-wrap bg-white p-6 ">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <img src="./public/logo-iaid.png" class="lg:h-10 h-8" alt="">
      <h1 class="pl-5 text-2xl text-gray-800 font-bold">KM IAID</h1>
    </div>
  
    <label class="block lg:hidden cursor-pointer flex items-center px-3 py-2 border rounded text-gray-800 border-gray-800 hover:text-gray-800 hover:border-gray-800" for="menu-toggle"><svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg></label>
    <input class="hidden" type="checkbox" id="menu-toggle" />
  
    <div class="hidden w-full block flex-grow lg:flex text-left lg:text-right  lg:items-center lg:w-auto" id="menu">
      <div class="text-sm lg:flex-grow">
        <a href="#responsive-header" class="block mt-4 text-xl lg:inline-block lg:mt-0 text-gray-800 hover:text-[#63C132] mr-4 font-semibold">
          Home
        </a>
        <a href="/organisasi.html" class="block mt-4 text-xl lg:inline-block lg:mt-0 text-gray-800 hover:text-[#63C132] mr-4 font-semibold">
          Organisasi
        </a>
        <a href="#responsive-header" class="block mt-4 text-xl lg:inline-block lg:mt-0 text-gray-800 hover:text-[#63C132] font-semibold">
          Berita
        </a>
      </div>
    </div>
  </nav>

  <div class="hero grid grid-cols-1 text-center text-[#145C9E] my-10" role="hero">
    <h1 class="text-[48px] font-bold">Satu Website</h1>
    <h1 class="text-[48px] font-bold">Untuk Semuanya</h1>
    <h2 class="px-12 text-2xl">Membangun dan membantu kampus Darussalam menjadi lebih baik dan transparan.</h2>
    <img class="my-10" loading="lazy" src="./public/hero_img.png" alt="hero image">
  </div>

  <div class="about text-center px-12 mb-8" role="about">
    <h1 class="text-2xl font-bold ">Tentang KM IAID</h1>
    <h2 class="text-md pt-3">Dewan Perwakilan Mahasiswa atau disebut dengan DPM merupakan badan legislatif yang bernaung di wilayah kampus untuk membuat dan mengatur aturan-aturan yang berkaitan dengan kebijakan-kebijakan di organisasi kampus.</h2>
  </div>

  <div class="blog grid grid-cols-2 bg-[#145c9e] text-[#FCFCFC] py-12" role="blog">
    <h1 class="text-3xl font-bold p-5 col-span-2">Berita dan Catatan</h1>
    <article class="p-5 col-span-2 md:col-span-1" >
      <h1 class="text-xl">Tujuan Pembentukan Organisasi</h1>
      <p class="text-xs py-3">Jakob Workman • 12/28/2021</p>
      <p>Tujuan Organisasi Jenis dan Faktor Pembentuknya. Tujuan organisasi adalah sesuatu yang ingin dicapai dengan segala kemampuan yang dimiliki oleh organisasi tersebut. manfaat-manfaat yang diperoleh dari penetapan tujuan adalah sebagai berikut: Membantu memperkenalkan atau menonjolkan eksistensi organisasi di mata pemerintah, konsumen...</p>
    </article>

    <article class="p-5 col-span-2 md:col-span-1" >
      <h1 class="text-xl">Tujuan Pembentukan Organisasi</h1>
      <p class="text-xs py-3">Jakob Workman • 12/28/2021</p>
      <p>Tujuan Organisasi Jenis dan Faktor Pembentuknya. Tujuan organisasi adalah sesuatu yang ingin dicapai dengan segala kemampuan yang dimiliki oleh organisasi tersebut. manfaat-manfaat yang diperoleh dari penetapan tujuan adalah sebagai berikut: Membantu memperkenalkan atau menonjolkan eksistensi organisasi di mata pemerintah, konsumen...</p>
    </article>

    <article class="p-5 col-span-2 md:col-span-1" >
      <h1 class="text-xl">Tujuan Pembentukan Organisasi</h1>
      <p class="text-xs py-3">Jakob Workman • 12/28/2021</p>
      <p>Tujuan Organisasi Jenis dan Faktor Pembentuknya. Tujuan organisasi adalah sesuatu yang ingin dicapai dengan segala kemampuan yang dimiliki oleh organisasi tersebut. manfaat-manfaat yang diperoleh dari penetapan tujuan adalah sebagai berikut: Membantu memperkenalkan atau menonjolkan eksistensi organisasi di mata pemerintah, konsumen...</p>
    </article>

    <article class="p-5 col-span-2 md:col-span-1" >
      <h1 class="text-xl">Tujuan Pembentukan Organisasi</h1>
      <p class="text-xs py-3">Jakob Workman • 12/28/2021</p>
      <p>Tujuan Organisasi Jenis dan Faktor Pembentuknya. Tujuan organisasi adalah sesuatu yang ingin dicapai dengan segala kemampuan yang dimiliki oleh organisasi tersebut. manfaat-manfaat yang diperoleh dari penetapan tujuan adalah sebagai berikut: Membantu memperkenalkan atau menonjolkan eksistensi organisasi di mata pemerintah, konsumen...</p>
    </article>
  </div>
  
  <footer class="bg-[#3C4F76] px-20 flex flex-col items-center py-16 w-full  text-[#fcfcfc] font-semibold">
    <img src="./public/logo-iaid.png" alt="" class="h-[56px]">
    <h1 class="text-xl pt-4">KM IAID</h1>
    <nav class="w-full py-8 md:w-1/2 ">
      <ul class="flex justify-between">
        <li><a href="#">Tentang</a></li>
        <li><a href="#">Organisasi</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav>
    <ul class="flex w-full md:w-1/2 justify-between">
      <li><a href="#"><img src="./public/socmed/facebook.svg" alt="" srcset=""></a></li>
      <li><a href="#"><img src="./public/socmed/instagram.svg" alt="" srcset=""></a></li>
      <li><a href="#"><img src="./public/socmed/tiktok.svg" alt="" srcset=""></a></li>
      <li><a href="#"><img src="./public/socmed/twitter.svg" alt="" srcset=""></a></li>
    </ul>
  </footer>




  <script type="module" src="/main.js"></script>
</body>

</html>